.notes_board_4 {
    width: 100%;
    max-width: 1400px;
    margin: 30px auto;
    padding: 0 20px;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    &>div {
        width: 31%;
        height: fit-content;
    }

    @media (max-width: 630px) {
        flex-direction: column;
        &>div {
            width: 100%;
            height: fit-content;
        }
    }
    .empty {
       width: 100%;
       text-align: center;
    }
}

.notes_board {
    margin: 30px auto;
    display: flex;
    width: 100%;
    max-width: 1400px;
    flex-flow: column wrap;
    align-content: space-between;
    padding: 0 20px;

  &>div {
    width: 32%;
    margin-bottom: 2%; 
  }
  

  &>div:nth-child(3n+1) { order: 1; }
  &>div:nth-child(3n+2) { order: 2; }
  &>div:nth-child(3n)   { order: 3; }

  &::before,
  &::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }

  @media (max-width: 630px) {
    flex-direction: column;
    flex-wrap: nowrap;
    &::before,
    &::after {
        content: "";
        flex-basis:auto;
        width: 0;
        order: 0;
    }
    &>div {
        max-height: none;
        order: 0;
        width: 100%;
        height: fit-content;
    }
}
}